* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

@-webkit-keyframes slidedown {
    0% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 20px;

    animation-name: slidedown;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    position: sticky;
    top: 0;
    width: 100%;

    transition: background 0.5s;
    background-color: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.logo-block {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    text-decoration: none;
    height: 50px;
    width: 50px;
}

.logo-text {
    color: orangered;
    font-size: 28px;
    font-weight: 1000;
}

.search-block {
    display: flex;
    justify-content: center;
    position: relative;
}

.search-block .microphone-icon > i:hover {
    cursor: pointer;
    opacity: 0.7;
    color: #000;
}

input {
    width: 400px;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    outline: none;
    border-style: double;
    border-color: #f1f1f1;
}

input:focus {
    border-color: cadetblue;
}

@media only screen and (max-width: 600px) {
    input {
        width: 100%;
    }
}

.search-icon {
    background: #f1f1f1;
    height: 35px;
    width: 35px;
    outline: none;
    border-radius: 0 5px 5px 0;
    border-style: double;
    border-color: #f1f1f1;
    cursor: pointer;
}

.search-block .search-icon > i:hover {
    cursor: pointer;
    opacity: 0.2;
}

.search-icon i {
    color: #000;
}
.microphone-icon {
    background: #fff;
    height: 35px;
    width: 35px;
    border-radius: 0 5px 5px 0;
    border-style: double;
    border-color: #fff;
    cursor: pointer;
}

.menu-block ul {
    width: 100px;
    justify-content: space-around;
    list-style: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.header-item {
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 10px;
}

.has-dropdown > i {
    background: orange;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    opacity: 0.7;
}

.header-item > i {
    cursor: pointer;
    opacity: 0.3;
}

.header-item > i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.dropdown:hover > i {
    background-color: rgb(202, 200, 200);
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .profile {
    border-radius: 5px 5px 0px 0px;
}

.dropdown-content .logout {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid rgb(202, 200, 200);
    color: red;
}

aside {
    width: 250px;
    background: rgb(236, 234, 234);
    color: #000;
    height: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
}

.channels {
    height: 100%;
    
}

.channel {
    display: flex;
    margin: 10px 0;
    padding-bottom: 20px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.channel:hover {
    background: rgb(180, 178, 178);
    cursor: pointer;
}

.avatar {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 0px;
    background-color: whitesmoke;
}

.avatar img {
    display: inline;
    margin: 0 auto;
    height: 100%;
}

.info-container {
    display: block;    
}

.name {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    text-overflow: ellipsis;
}

.info {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    width: 80px;
}

.viewers {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.live-dot {    
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: red;
    box-shadow: 0px 0px 8px 2px rgba(255, 0, 0, 0.2);
    animation: pulsate 2.5s  ease-in;
    animation-iteration-count: infinite;
    margin-bottom: 3px;
}

@keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.0, 1.0);
        opacity: 0.7;
    }
}

@media only screen and (max-width: 1200px) {
    .name {
        display: none;
    }
    .info-container {
        display: none;
    }
    aside {
        max-width: 70px;
    }
}

.filler {
    height: 50px;
}

.information-block {
    border-top: 2px solid #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
}

.information {
    padding: 10px;
    background: rgb(216, 211, 211);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.information > span {
    font-size: 18px;
}

.information > span::selection {
    color: white;
    background: orange;
}

.socials {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.socials > i {
    width: 40px;
    line-height: 40px;
    font-size: 25px;
}

.socials > i:hover {
    color: blue;
}

main {
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: auto;
}

.categories {
    max-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(fit-content, 1fr));
    grid-auto-flow: column;
    grid-gap: 1rem;
    padding: 5px 5px;
}

.category {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgb(236, 234, 234);

    height: 35px;
    min-width: 50px;
    width: fit-content;

    border: 1px solid rgba(0, 0, 0, 0.274);
    margin: 20px 10px;
    padding: 10px;
    border-radius: 40px 40px 40px 40px;
}

.category:first-child {
    background: orange;
    color: white;
    border: none;
}

.category:hover {
    background: rgb(180, 178, 178);
    cursor: pointer;
}

.category > span {
    font-size: 17px;
    font-weight: 200;
}

[type='radio'] {
    display: none;
}

#slider {
    height: 15vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card {
    display: block;
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    display: flex;
    background: rgb(236, 234, 234);
}

.preview > img {
    width: 100%;
    height: 100%;
}

.describe {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 10px;
}

.describe .live-text .live-user:hover {
    color: blue;
}

.describe .live-text .live-title:hover {
    color: blue;
}

.describe .live-text ::selection {
    color: white;
    background: orange;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
    transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transform: translate3d(30%, 0, -200px);
}

.live-channels {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 2rem;
}

.live-channel {
    padding: 0 5px;
}

.live-image {
    position: relative;
}

.live-icon,
.live-views {
    padding: 3px;
    border-radius: 3px;
    width: max-content;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    color: white;
}

.hide {
    display: none;
}

.live-views {
    background: rgba(0, 0, 0, 0.5);
    bottom: 10px;
    right: 5px;
}

.live-icon {
    background: #ff0000;
    font-weight: bold;
    top: 5px;
    left: 5px;
}

.live-channel img {
    width: 100%;
    height: 300px;
    border-radius: 2%;
}

.live-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    text-overflow: ellipsis;
}

.live-info .avatar {
    height: 40px;
    width: 40px;
}

.live-info .avatar > img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: black;
    border-radius: 2%;
}

.live-image:hover .overlay {
    opacity: 0.5;
}

.icon {
    color: white;
    font-size: 40px;
    position: relative;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-paw:hover {
    color: #eee;
}

.live-user {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
}

.live-text {
    flex-grow: 2;
}

.live-text:hover,
.live-user:hover {
    color: blue;
    cursor: pointer;
}

.live-dots {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 4px;
}

.live-dots:hover {
    cursor: pointer;
}
.live-dots .rec-live-dot {
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
}

.footer {
    align-self: end;
    vertical-align: bottom;

    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
